<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Space Invaders</title>
    <style>
        body { margin: 0; padding: 0; overflow: hidden; }
        canvas { display: block; width: 100vw; height: 100vh; object-fit: contain; }
    </style>
</head>
<body>
<div id="game-container"></div>
<script src="https://cdn.jsdelivr.net/npm/phaser@3/dist/phaser.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var appContext = /*[[@{/}]]*/ '';
    /*]]>*/
</script>
<script th:src="@{/js/game2.js}" defer></script>
</body>
</html>